@model GEIN.Models.Producto

@{
    ViewData["Title"] = "Details";
}


<h1>Detalles de Producto</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMarca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.IdProducto  }) |
    <a asp-action="Index">Volver</a>
</div>
